<h1>Timeline </h1>

<%= form_for @post do |f| %>
  <%= f.label :body, 'Your post here' %><br>
  <%= f.text_area :body %><br>
  <%= f.submit "Submit" %>
<% end %>
<hr>

<% @posts.each do |post| %>
  <h3><%= post.user.name %></h3>
  <p><%= post.body %></p>
  <br>
  <span><%= post.likes.count %></span>
  <% if post.likes.find_by(user: current_user) %>
   <%= link_to "Unlike", like_path(post.id), :method => :delete %>
  <% else %>
   <%= link_to "Like",likes_path(:post_id => post.id), :method => :post %>
  <% end %>
  <br><br>
  <% post.comments.each do |comment| %>
    <p><%= comment.user.name %></p>
    <p><%= comment.body %></p>
  <% end %>
  <%= form_for @comment do |f| %>
    <%= f.label :body, 'Your comment here' %><br>
    <%= f.text_area :body %><br>
    <%= f.submit "Comment" %>
  <% end %>
  <hr>
<% end %>
