<!DOCTYPE html>
<html>
  <head>
    <title>BuildingFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <% if current_user %>
        <%= link_to "Timeline", posts_path %>
        <%= link_to current_user.name, user_path(current_user) %>
        <%= link_to "Friend list",  users_path %>
        <%= link_to "Sign Out",  destroy_user_session_path, method: :delete %>
        Notifications:
              <%=link_to @friendships.count, friendships_path %>

      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
